@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lexend+Tera:wght@500;600;700;800;900&family=Lexend:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lexend+Tera:wght@500;600;700;800;900&family=Lexend:wght@200&display=swap');

:root {
  margin: 0 auto;
  justify-content: none;
  align-items: none;
  grid-template-areas: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  list-style: none;
  height: 100%;

  font-family: "IM Fell English SC", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto !important;
  justify-content: none !important;
  align-items: none !important;
  grid-template-areas: none !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  text-decoration: none !important;
  list-style: none !important;
  height: 100% !important;
  color-scheme: light dark !important;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #572327 !important;
}

/* #root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: black;
  color: black;
} */