@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lexend+Tera:wght@500;600;700;800;900&family=Lexend:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lexend+Tera:wght@500;600;700;800;900&family=Lexend:wght@200&display=swap');

.navBarStyle {
  position: fixed !important;; 
  top:0 !important;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 5.3125rem;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  border-bottom: 1px solid #272727ce;
  position: relative;
  background-color: #212529;
  transition: all 0.5s;
  z-index: 1;
}


.subtitulo{
  font-family: "lexend", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  color: #ffffff;
  filter: invert(0);
  transition: all 0.5s;
}

.titulo{
  font-family: "IM Fell English SC", sans-serif;
  font-size: 48px;
  font-weight: bold;
  transition: all 0.5s;
  color: #ededed;
}

.welcome {
  font-family: "lexend", sans-serif;
  color: #b9afa3;
  font-size: 2.3rem;
  position: relative !important;
  text-align: left;
  width: fit-content;
  left: 50px;
  top: 100px;
}

.copa{
  z-index: 1;
  position: relative;
}